Repository webhead1104/Township: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Cytosis Platform, Paper Platform, Common Code

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"  # Green at 70%+, red below

  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        if_ci_failed: error

    patch:
      default:
        target: 80%  # New code should have 80%+ coverage
        threshold: 5%
        if_ci_failed: error

# Ignore files/directories that shouldn't count toward coverage
ignore:
  - "**/*Test.java"
  - "**/*Test.kt"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.gradle"
  - "**/*.gradle.kts"
  - "**/build/**"
  - "**/generated/**"
  - "**/BuildConfig.java"
  - "**/BuildConfig.kt"
  - "**/Main.java"  # Generated classloader
  - "**/GeneratedClassloader.java"  # Generated classloader

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - platforms/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: cytosis
      name: Cytosis Platform
      paths:
        - platforms/cytosis/src/main/java/**
    - component_id: paper
      name: Paper Platform
      paths:
        - platforms/paper/src/main/java/**
    - component_id: common
      name: Common Code
      paths:
        - platforms/common/src/main/java/**

Make buildings take time to build
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildMenuSelectBuildingMenu.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/ConstructionTile.java
Due: unittests, Common Code

Add indra
  build.gradle.kts
  license_header.txt
  platforms/cytosis/build.gradle.kts
  tools/wiki-scraper/build.gradle.kts
Due: none

Use java 25 for code generator and wiki scraper
  code-generators/build.gradle.kts
  tools/wiki-scraper/build.gradle.kts
Due: none

Use blossom for BuildInfo
  platforms/common/build.gradle.kts
  platforms/common/src/main/java-templates/me/webhead1104/towncraft/utils/BuildInfo.java.peb
  platforms/common/src/main/java/me/webhead1104/towncraft/TowncraftPlatformManager.java
Due: unittests, Common Code

Bump plugin version
  build.gradle.kts
  platforms/common/build.gradle.kts
  platforms/paper/build.gradle.kts
Due: none

Add plugin_version to gradle.properties
  build.gradle.kts
  code-generators/build.gradle.kts
  gradle.properties
  platforms/common/build.gradle.kts
  platforms/cytosis/build.gradle.kts
  platforms/paper/build.gradle.kts
Due: none

Dont compile non project folders
  build.gradle.kts
Due: none

Change from xp to xp_needed for expansions
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/expansions/ExpansionDataLoader.java
  platforms/common/src/main/resources/data/expansions.json
Due: unittests, Common Code

Remove indra
  build.gradle.kts
  code-generators/build.gradle.kts
  platforms/common/build.gradle.kts
  platforms/cytosis/build.gradle.kts
  platforms/paper/build.gradle.kts
  tools/wiki-scraper/build.gradle.kts
Due: none

Fix common not compiling
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/expansions/ExpansionMenu.java
Due: unittests, Common Code

Rename not-in-menu to not_in_menu
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
  platforms/common/src/main/resources/data/buildingTypes/special.json
Due: unittests

Inline BuildInfo#IS_DEV
  platforms/common/build.gradle.kts
  platforms/common/src/main/java-templates/me/webhead1104/towncraft/utils/BuildInfo.java.peb
Due: unittests

Add bstats for paper
  platforms/paper/build.gradle.kts
  platforms/paper/src/main/java/me/webhead1104/towncraft/TowncraftPaper.java
Due: unittests, Paper Platform

Use libs.versions.toml
  code-generators/build.gradle.kts
  gradle/libs.versions.toml
  platforms/common/build.gradle.kts
  platforms/cytosis/build.gradle.kts
  platforms/paper/build.gradle.kts
  tools/menu-designer/build.gradle.kts
  tools/wiki-scraper/build.gradle.kts
Due: none

Update depends
  gradle/libs.versions.toml
  tools/wiki-scraper/build.gradle.kts
Due: none

Remove TowncraftPlayerFactory
  platforms/common/src/main/java/me/webhead1104/towncraft/factories/TowncraftPlayerFactory.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftPlayerFactoryImpl.java
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftPlayerFactory
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftPlayerFactoryPaperImpl.java
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftPlayerFactory
Due: unittests, Cytosis Platform, Paper Platform, Common Code

Fix wrong service class
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftInventoryFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
Due: unittests

Remove TowncraftInventoryHolder
  platforms/common/src/main/java/me/devnatan/inventoryframework/context/RenderContext.java
  platforms/common/src/main/java/me/webhead1104/towncraft/factories/TowncraftInventoryFactory.java
  platforms/common/src/main/java/me/webhead1104/towncraft/items/TowncraftInventoryHolder.java
  platforms/common/src/main/java/me/webhead1104/towncraft/menus/internal/MenuFactory.java
  platforms/common/src/main/java/me/webhead1104/towncraft/menus/internal/TowncraftElementFactory.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftInventoryFactoryImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftInventoryFactoryPaperImpl.java
Due: unittests, Cytosis Platform, Paper Platform, Common Code

Fix null error when rendering item
  platforms/common/src/main/java/me/webhead1104/towncraft/menus/context/SlotRenderContext.java
Due: unittests, Common Code

Exclude all build dirs from spotless
  build.gradle.kts
Due: none

Use google auto service
  gradle/libs.versions.toml
  platforms/cytosis/build.gradle.kts
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/TowncraftCytosisPlatform.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftInventoryFactoryImpl.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryImpl.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryImpl.java
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.TowncraftPlatform
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftInventoryFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
  platforms/paper/build.gradle.kts
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/TowncraftPaperPlatform.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftInventoryFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryPaperImpl.java
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.TowncraftPlatform
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftInventoryFactory
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
Due: unittests, Cytosis Platform, Paper Platform

Use error instead of IllegalStateException
  tools/wiki-scraper/src/main/kotlin/me/webhead1104/towncraft/wikiScraper/Main.kt
Due: none

Remove building-type-schema.json
  json-schemas/building-type-schema.json
Due: none
