Repository webhead1104/Township: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Cytosis Platform, Paper Platform, Common Code

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"  # Green at 70%+, red below

  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        if_ci_failed: error

    patch:
      default:
        target: 80%  # New code should have 80%+ coverage
        threshold: 5%
        if_ci_failed: error

# Ignore files/directories that shouldn't count toward coverage
ignore:
  - "**/*Test.java"
  - "**/*Test.kt"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.gradle"
  - "**/*.gradle.kts"
  - "**/build/**"
  - "**/generated/**"
  - "**/BuildConfig.java"
  - "**/BuildConfig.kt"
  - "**/Main.java"  # Generated classloader
  - "**/GeneratedClassloader.java"  # Generated classloader

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - platforms/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: cytosis
      name: Cytosis Platform
      paths:
        - platforms/cytosis/src/main/java/**
    - component_id: paper
      name: Paper Platform
      paths:
        - platforms/paper/src/main/java/**
    - component_id: common
      name: Common Code
      paths:
        - platforms/common/src/main/java/**

Hide the css file
  .gitattributes
Due: none

Update mongodb
  platforms/common/build.gradle.kts
Due: none

Rework ItemScraper
  .run/Towncraft [_tools_wiki-scraper_run].run.xml
  platforms/common/build.gradle.kts
  platforms/common/src/main/resources/data/expansions.json
  platforms/common/src/main/resources/data/items.json
  platforms/common/src/main/resources/data/levels.json
  tools/wiki-scraper/build.gradle.kts
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/annotations/DependsOn.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/cli/Main.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Outputs.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Scraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/ScraperRegistry.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Utils.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Expansion.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Item.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Level.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Page.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Row.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Table.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Value.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ItemScraper.java
Due: unittests

Add AnimalScraper that scrapes animal types from the wiki
  platforms/common/src/main/java/me/webhead1104/towncraft/features/animals/AnimalType.java
  platforms/common/src/main/resources/data/animals.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Animal.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Page.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Row.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Table.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Value.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/AnimalScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ItemScraper.java
  tools/wiki-scraper/src/main/resources/data/animal_data.json
Due: unittests, Common Code

Remove jgrapht
  platforms/common/build.gradle.kts
Due: none

Scrape plot data from wiki
  platforms/common/src/main/java/me/webhead1104/towncraft/dataLoaders/DataLoader.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/animals/AnimalType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/plots/PlotMenu.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/plots/PlotType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/PlotTile.java
  platforms/common/src/main/resources/data/plots.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Plot.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Price.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Page.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/PlotScraper.java
Due: unittests, Common Code

Remove debug line
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/plots/PlotType.java
Due: unittests, Common Code

Scrape build menu types with BuildMenuScraper
  platforms/common/build.gradle.kts
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildMenuType.java
  platforms/common/src/main/resources/data/buildMenus.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/BuildMenu.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Row.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Value.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
Due: unittests

Remove debug
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/plots/PlotType.java
Due: unittests, Common Code

Fix a bug with the build menu scraper
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
Due: none

Add Farmhouse house
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/HouseType.java
  platforms/common/src/main/resources/data/buildMenus.json
  platforms/common/src/main/resources/data/buildingTypes/housing/farmhouse.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
Due: unittests

Add Laundromat community building
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/CommunityBuildingType.java
  platforms/common/src/main/resources/data/buildMenus.json
  platforms/common/src/main/resources/data/buildingTypes/community/laundromat.json
Due: unittests

Add helicopter menu
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/Helicopter.java
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/ItemAndAmount.java
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/User.java
  platforms/common/src/main/java/me/webhead1104/towncraft/dataLoaders/ItemType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/helicopter/HelicopterView.java
  platforms/common/src/main/java/me/webhead1104/towncraft/items/TowncraftMaterials.java
  platforms/common/src/main/java/me/webhead1104/towncraft/utils/Utils.java
  platforms/common/src/main/resources/data/items.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Item.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ItemScraper.java
Due: unittests, Common Code

Make Tile#onClick not abstract
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/CommunityBuildingTile.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/HouseTile.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/StaticWorldTile.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/Tile.java
Due: unittests, Common Code

Set java version in all projects
  platforms/common/build.gradle.kts
  platforms/cytosis/build.gradle.kts
  platforms/paper/build.gradle.kts
Due: none

Finish the helicopter
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/User.java
  platforms/common/src/main/java/me/webhead1104/towncraft/dataVersions/UserVersion14.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/helicopter/HelicopterView.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/HelicopterTile.java
  platforms/common/src/main/resources/data/buildingTypes/special/helicopter.json
Due: unittests, Common Code

Use a code generator for materials
  code-generators/build.gradle.kts
  code-generators/src/main/java/me/webhead1104/towncraft/codegen/Generators.java
  code-generators/src/main/java/me/webhead1104/towncraft/codegen/RegistryGenerator.java
  code-generators/src/main/java/me/webhead1104/towncraft/codegen/TowncraftCodeGenerator.java
  platforms/common/build.gradle.kts
  platforms/common/src/autogenerated/java/me/webhead1104/towncraft/items/TowncraftMaterials.java
  platforms/common/src/main/java/me/webhead1104/towncraft/factories/TowncraftItemStackFactory.java
  platforms/common/src/main/java/me/webhead1104/towncraft/factories/TowncraftMaterialFactory.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/plots/PlotType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/items/TowncraftItemStack.java
  platforms/common/src/main/java/me/webhead1104/towncraft/items/TowncraftMaterial.java
  platforms/common/src/main/java/me/webhead1104/towncraft/items/TowncraftMaterials.java
  platforms/common/src/main/java/me/webhead1104/towncraft/serializers/MaterialSerializer.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryImpl.java
  platforms/cytosis/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryImpl.java
  settings.gradle.kts
Due: unittests, Cytosis Platform, Paper Platform, Common Code

Fix animal scraper
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/AnimalScraper.java
Due: none

Fix build menu scraper
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
Due: none

Scrape factory and recipe data from the wiki
  platforms/common/src/main/java/me/webhead1104/towncraft/features/factories/FactoryType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/factories/RecipeType.java
  platforms/common/src/main/resources/data/factories.json
  platforms/common/src/main/resources/data/factories/bakery.json
  platforms/common/src/main/resources/data/factories/dairy_factory.json
  platforms/common/src/main/resources/data/factories/feed_mill_1.json
  platforms/common/src/main/resources/data/factories/feed_mill_2.json
  platforms/common/src/main/resources/data/factories/feed_mill_3.json
  platforms/common/src/main/resources/data/factories/sugar_factory.json
  platforms/common/src/main/resources/data/factories/textile_factory.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Utils.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Factory.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/Item.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Value.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/FactoryScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ItemScraper.java
Due: unittests, Common Code

Set default path
  tools/wiki-scraper/build.gradle.kts
Due: none

Use run-cytosis gradle plugin
  platforms/cytosis/build.gradle.kts
  platforms/paper/build.gradle.kts
  settings.gradle.kts
Due: none

Use classifier for cytosis
  platforms/cytosis/build.gradle.kts
Due: none

Rename all paper platform classes
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftInventoryFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
  platforms/cytosis/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftPlayerFactory
  platforms/paper/src/main/java/me/webhead1104/towncraft/IFListenerPaper.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/TowncraftPaper.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/TowncraftPaperPlatform.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/TowncraftPlayerPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/TowncraftTaskPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftInventoryFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/factories/TowncraftPlayerFactoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftInventoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftInventoryViewPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftItemStackPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftMaterialPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftPlayerInventoryImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/impl/items/TowncraftPlayerInventoryPaperImpl.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/listeners/JoinListener.java
  platforms/paper/src/main/java/me/webhead1104/towncraft/listeners/LeaveListener.java
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftInventoryFactory
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
  platforms/paper/src/main/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftPlayerFactory
Due: unittests, Paper Platform

Maybe fix qodana
  .github/workflows/qodana_code_quality.yml
Due: none

Maybe fix qodana
  qodana.yaml
Due: none

Add Scraper#resultType
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/cli/Main.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Scraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/AnimalScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ExpansionsScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/FactoryScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/ItemScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/LevelScraper.java
Due: none

Use new file format for building types
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
  platforms/common/src/main/resources/data/buildingTypes/community/fire_station.json
  platforms/common/src/main/resources/data/buildingTypes/community/groceryStore.json
  platforms/common/src/main/resources/data/buildingTypes/community/hospital.json
  platforms/common/src/main/resources/data/buildingTypes/community/laundromat.json
  platforms/common/src/main/resources/data/buildingTypes/community/police_station.json
  platforms/common/src/main/resources/data/buildingTypes/community/post_office.json
  platforms/common/src/main/resources/data/buildingTypes/community/school.json
  platforms/common/src/main/resources/data/buildingTypes/community_buildings.json
  platforms/common/src/main/resources/data/buildingTypes/factories.json
  platforms/common/src/main/resources/data/buildingTypes/factories/bakery.json
  platforms/common/src/main/resources/data/buildingTypes/factories/dairy_factory.json
  platforms/common/src/main/resources/data/buildingTypes/factories/feed_mill.json
  platforms/common/src/main/resources/data/buildingTypes/factories/sugar_factory.json
  platforms/common/src/main/resources/data/buildingTypes/factories/textile_factory.json
  platforms/common/src/main/resources/data/buildingTypes/farming.json
  platforms/common/src/main/resources/data/buildingTypes/farming/chicken_coop.json
  platforms/common/src/main/resources/data/buildingTypes/farming/cowshed.json
  platforms/common/src/main/resources/data/buildingTypes/farming/plot.json
  platforms/common/src/main/resources/data/buildingTypes/farming/sheep_farm.json
  platforms/common/src/main/resources/data/buildingTypes/housing.json
  platforms/common/src/main/resources/data/buildingTypes/housing/bungalow.json
  platforms/common/src/main/resources/data/buildingTypes/housing/cape_cod_cottage.json
  platforms/common/src/main/resources/data/buildingTypes/housing/chalet_bungalow.json
  platforms/common/src/main/resources/data/buildingTypes/housing/conch_house.json
  platforms/common/src/main/resources/data/buildingTypes/housing/cottage.json
  platforms/common/src/main/resources/data/buildingTypes/housing/farmhouse.json
  platforms/common/src/main/resources/data/buildingTypes/special.json
  platforms/common/src/main/resources/data/buildingTypes/special/barn.json
  platforms/common/src/main/resources/data/buildingTypes/special/helicopter.json
  platforms/common/src/main/resources/data/buildingTypes/special/train.json
Due: unittests

More helper stuff in Value
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/parser/Value.java
Due: none

Scrape buildings types from the wiki
  .run/Scrape and run.run.xml
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
  platforms/common/src/main/resources/data/buildingTypes/special/town_hall.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/cli/Main.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/core/Utils.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/BuildMenu.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/BuildingType.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/ConstructionMaterials.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/AnimalTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/BarnTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/CommunityBuildingTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/FactoryTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/HelicopterTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/HouseTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/PlotTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/StaticWorldTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/Tile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/TileSize.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/TrainTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildingTypeScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/PlotScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/serializers/TileSerializer.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/serializers/TileSizeSerializer.java
Due: unittests

Set project java version to 21
  build.gradle.kts
  tools/wiki-scraper/build.gradle.kts
Due: none

Add a system for building types to not be in build menu
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/WorldMenu.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildMenuType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/edit/WorldEditMenu.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/BuildingTile.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/TrainTile.java
  platforms/common/src/main/resources/data/buildingTypes/community_buildings.json
  platforms/common/src/main/resources/data/buildingTypes/factories.json
  platforms/common/src/main/resources/data/buildingTypes/farming.json
  platforms/common/src/main/resources/data/buildingTypes/housing.json
  platforms/common/src/main/resources/data/buildingTypes/special.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/BuildMenu.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildingTypeScraper.java
Due: unittests, Common Code

Add event center
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/User.java
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/WorldSection.java
  platforms/common/src/main/java/me/webhead1104/towncraft/dataVersions/UserVersion15.java
  platforms/common/src/main/java/me/webhead1104/towncraft/tiles/EventCenterTile.java
  platforms/common/src/main/resources/data/buildMenus.json
  platforms/common/src/main/resources/data/buildingTypes/special.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/EventCenterTile.java
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/scrapers/BuildMenuScraper.java
  versions/14.json
Due: unittests, Common Code

Add more run files
  .run/Remove .lock.run.xml
  .run/Scrape and run.run.xml
Due: none

Fix LevelCommand
  platforms/common/src/main/java/me/webhead1104/towncraft/commands/subCommands/LevelCommand.java
Due: unittests, Common Code

Add minimal testing
  platforms/common/build.gradle.kts
  platforms/common/src/test/java/me/webhead1104/towncraft/DummyTest.java
  platforms/common/src/test/java/me/webhead1104/towncraft/data/TileSizeTest.java
  platforms/common/src/test/java/me/webhead1104/towncraft/impl/TowncraftTestPlatform.java
  platforms/common/src/test/java/me/webhead1104/towncraft/impl/factories/TowncraftItemStackFactoryTestImpl.java
  platforms/common/src/test/java/me/webhead1104/towncraft/impl/factories/TowncraftMaterialFactoryTestImpl.java
  platforms/common/src/test/java/me/webhead1104/towncraft/impl/items/TowncraftItemStackTestImpl.java
  platforms/common/src/test/java/me/webhead1104/towncraft/impl/items/TowncraftMaterialTestImpl.java
  platforms/common/src/test/java/me/webhead1104/towncraft/price/CoinPriceTest.java
  platforms/common/src/test/java/me/webhead1104/towncraft/utils/UtilsTest.java
  platforms/common/src/test/resources/META-INF/services/me.webhead1104.towncraft.TowncraftPlatform
  platforms/common/src/test/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftItemStackFactory
  platforms/common/src/test/resources/META-INF/services/me.webhead1104.towncraft.factories.TowncraftMaterialFactory
Due: none

Update to 1.21.11
  code-generators/src/main/java/me/webhead1104/towncraft/codegen/RegistryGenerator.java
  platforms/common/src/autogenerated/java/me/webhead1104/towncraft/items/TowncraftMaterials.java
  platforms/paper/build.gradle.kts
Due: unittests

Closes #113
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/PlaceMenu.java
Due: unittests, Common Code

Closes #118
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/PurchasedBuildings.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildMenuSelectBuildingMenu.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
  platforms/common/src/main/resources/data/buildingTypes/farming.json
  tools/wiki-scraper/src/main/java/me/webhead1104/tools/wikiScraper/model/tile/PlotTile.java
Due: unittests, Common Code

Fix mutating the loaded data
  platforms/common/src/main/java/me/webhead1104/towncraft/data/objects/PurchasedBuildings.java
  platforms/common/src/main/java/me/webhead1104/towncraft/features/world/build/BuildingType.java
Due: unittests, Common Code
